.boss{
    padding: 1.5rem 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    border-right: 3px yellow solid ;
    border-radius: 5px;
}
h1{
    font-size: 2rem;
    line-height:2.125rem;
    color:white;

}
.container {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border-bottom: 1px #ccc solid;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}
.title{
    font-weight:200;
    font-size: 1.25rem;
}
.year{
    font-weight:100;
    font-size: 1rem;
}
.heroSection{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.rating{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap:2rem;
}
.rating p{
    font-size: 1rem;
    color: #ffffff;
    font-weight: bolder;
}
.yellowStar{
    color: #ffff05;
}
.yellow, .blue{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2rem;
    gap: 10px;
}
.blue>.blueRate{
    color:  #5799ef;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.yellow:hover, .blue:hover{
    background-color: #626261;
    border-radius: 5px;
    line-height: 1.5rem;
    height: 1.8rem;

}
.blueStar{
    color:  #5799ef;
    font-weight: 900;
}
.underName{
    display: flex;
    gap: 0.8rem;
}
.url{
    width: 40rem;
    height: 22rem;
    margin-left: 2.3rem;
}
.imgItem{
   width: 15rem;
   height: 22rem;
}
.containerInner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(90deg, rgb(var(--ipt-baseAlt-shade1-rgb, 31,31,31)), 
                20%, rgba(var(--ipt-baseAlt-shade1-rgb, 31,31,31), 0.6), 
                80%, rgb(var(--ipt-baseAlt-shade1-rgb, 31,31,31)));
    };
.containerItem{
    background-color: aqua;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    gap: 2.5rem;
}
.btnCategory{
    display: flex;
    justify-items: right;
    flex-direction: row;
    gap: 1.3rem
}
.btn{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    line-height: 20px;
    background:transparent;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 1.5px white solid;
}
p{
    color: white;
    font-size: 20px;
    line-height: 24px;
}

 