.heroSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.movieInfo {
    display: flex;
    align-items: center;
    gap: 10rem;
    z-index: 1;
}

.movieName {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    color: rgb(193, 196, 199);
}

.poster {
    position: relative; 
}

.poster img {

    width: 300px; 
    height: auto;
}

.arrowButtons {
    position: absolute; 
    top: 40%; 
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 10px 20px; 
    box-sizing: border-box;
}

.prevButton,
.nextButton {
    position: relative;
    width: 40px;
    height: 60px;
    background-color: transparent;
    border: 1px solid rgb(153, 150, 150); 
    border-radius: 8%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s;
}

.prevButton:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0.3em 0.3em 0 0;
    height: 0.8em;
    width: 0.8em;
    transform: rotate(-135deg);
    border-color: white;
    top: 38%;
    left: 40%; 
}

.nextButton:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0.3em 0.3em 0 0;
    height: 0.8em;
    width: 0.8em;
    transform: rotate(45deg);
    border-color: white;
    top: 38%;
    left: 30%;
}

.prevButton:hover:before,
.nextButton:hover:before {
    border-color: yellow;
}

.nameUrl {
    text-decoration: none;
}



