.header,
.headerStandart,
.headerSearch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 5rem);
    align-items: center;
    justify-content: center;
    background-color: black;
    border-bottom: 0.1rem solid #ccc;
    box-shadow: 0 0.2rem 0.4rem #0003;
    padding: 0 2rem;
}

.menuBtnBox {
    display: none;
}

.menuBtn {
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s;
}

.closeMenuBtn {
    opacity: 0.5;
}

.searchBtn,
.closeSearchBtn {
    cursor: pointer;
    margin: 0 1rem;
}

.searchBtn {
    opacity: 0.5;
}

.closeSearchBtn {
    opacity: 1;
    transition: opacity 1s;
}

.navLinkBoxClose,
.navLinkBox {
    display: flex;
    justify-content: end; 
}

.logoBox {
    margin-left: 2rem;
}

.navLink {
    list-style: none;
    color: #fff;
    background-color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5em;
    cursor: pointer;
}
.navLink:hover {
    background-color: rgb(51, 50, 50);
}


@media (max-width: 50rem) {

    .header {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 5rem);
    }
    
    .headerStandart {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 5rem);
    }

    .headerSearch {
        grid-template-columns: repeat(2, 1fr);
    }

    .logoBoxClose,
    .headerLogoClose,
    .menuBtnClose,
    .navLinkBoxClose {
        display: none;
    }
    
    .navLinkBox {
        justify-content: center;
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }
    
    .header > nav {
        display: flex;  
    }
    
    .menuBtnBox {
        display: flex;
        justify-content: end;
    }
    
    .searchBox {
        display: none;
    }
    
    .searchBoxClose {
        display: flex;
    }
    
    .navLink {
        display: block;
    }

}  