.main {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    width: 60rem;
    margin: 5rem calc(50% - 30rem)
}
.left{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 50rem;
    padding: 2rem;
}
h3 {
    border-left: solid 3px  #f3cd44;
    padding-left: 2px;
}
span {
    color: #ffffff;
}
h1 {
    font-size: 8rem;
}
p {
    color:#000000;
}
.links {
    display: flex;
    flex-direction: row;
    gap:1rem;
}
.btn {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 2px;
    text-decoration: none;
    background-color: #f3cd44;
    font-size: 0.8rem;
    font-weight: bolder;
    color: #000000;
}
.btn:hover { 
    background-color:  #caac3e;

}
img {
    width: 10rem;
    height: 15rem;
}
img+img {
    width: 15rem;
    height: 20rem;
}
img+img+img {
    width: 20rem;
    height: 25rem;
}